@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

input {
    background-color: rgb(206, 222, 223);
}

ul {
    list-style-type: none;
    position: relative;
    left: -40px;
}

#app-listItems {
    left: -60px; /* quand on appuie sur entrer sa met le text à gauche */
    top: 10px; /* quand on appuie sur entrer sa ne les colle pas ( espace entre eux ) */
}